{% extends 'base.html' %}
{% load staticfiles %}
{% load crispy_forms_tags %}

{% block links %}
   <link rel="stylesheet" href="{% static "css/formstyles.css" %}">
{% endblock %}

{% block content %}
<form id="itinerary_form" method="post" action="/{{ action }}">

    {% crispy form %}

</form>
{% endblock %}

{% block scripts %}
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?libraries=places"></script>
    <script type="text/javascript" src="{% static 'js/autocomplete.js' %}"></script>
    <script>
        $(document).ready(function() {

            $('#div_id_global_journey_type,#div_id_hotel,#div_id_dreamville').each(function() {
                $(this).hide();
            });

            {% if edit %}
                if ($('#id_global_journey').is(':checked')) $('#div_id_global_journey_type').show();
                if ($('#id_hotel_package').is(':checked')) $('#div_id_hotel').show();
                if ($('#id_dreamville_package').is(':checked')) $('#div_id_dreamville').show();
                $('.form-actions').append('<a href="{% url 'delete_itinerary' user.itinerary.id %}" class="btn btn-default"><i class="fa fa-trash-o"></i> Delete</a>');


            {% endif %}

            $('#id_global_journey').change(function() {
                if ($(this).is(':checked')) {
                    $('#div_id_global_journey_type').show();
                } else {
                    $('#div_id_global_journey_type').hide();
                    $('#id_global_journey_type').prop('selectedIndex', 0);
                }
            });

            $('#id_hotel_package').change(function() {
                if ($(this).is(':checked')) {
                    $('#div_id_hotel').show();
                } else {
                    $('#div_id_hotel').hide();
                    $('#id_hotel').prop('selectedIndex', 0);
                }
            });

            $('#id_dreamville_package').change(function() {
                if ($(this).is(':checked')) {
                    $('#div_id_dreamville').show();
                } else {
                    $('#div_id_dreamville').hide();
                    $('#id_dreamville').prop('selectedIndex', 0);
                }
            });

            $('#id_global_journey_type').change(function() {
                var option = $('#id_global_journey_type option:selected').text();
                console.log(option);
                if(option == "Hotel Package") {
                    console.log("yes");
                    $('#id_hotel_package').prop('checked', true).change();
                } else {
                    $('#id_hotel_package').prop('checked', false).change();
                }
            });

            initializeAutocomplete('id_departure_city', 'id_arrival_city');

            google.maps.event.addListener(autocompleteArray[0], 'place_changed', onDepartureCityChanged);
            google.maps.event.addListener(autocompleteArray[1], 'place_changed', onArrivalCityChanged);





        });

    </script>
{% endblock %}