{% extends 'base.html' %}
{% load staticfiles %}

{% block links %}
<link rel="stylesheet" href="{% static 'css/itinerary_detail.css' %}">
{% endblock %}

{% block content %}
    <div>
        <div>
            <h1>{{ itinerary.user}}'s Journey</h1>
        </div>
        <div>
            <a class="btn btn-tomorrowland" href="https://www.reddit.com/message/compose?to={{ itinerary.user }}&subject=&message=">Message on Reddit &nbsp;&nbsp;<i class="fa fa-envelope"></i></a>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title tml">Departure and Arrival Info</h3>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-2"><i class="fa fa-map-marker"></i> <strong>Departure City:</strong></div>
                    <div class="col-md-10">{{ itinerary.departure_city }}</div>
                </div>
                <div class="row">
                    <div class="col-md-2"><i class="fa fa-map-marker"></i> <strong>Arrival City:</strong></div>
                    <div class="col-md-10">{{ itinerary.arrival_city }}</div>
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title tml">Days Attending</h3>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-sm-1 col-md-1"><strong>Friday:</strong></div>
                    <div class="col-sm-1 col-md-1">{% if itinerary.attending_fri %}<i class="fa fa-check-circle"></i>{% else %}<i class="fa fa-times"></i>{% endif %}</div>
                </div>
                <div class="row">
                    <div class="col-sm-1 col-md-1"><strong>Saturday:</strong></div>
                    <div class="col-sm-1 col-md-1">{% if itinerary.attending_sat %}<i class="fa fa-check-circle"></i>{% else %}<i class="fa fa-times"></i>{% endif %}</div>
                </div>
                <div class="row">
                    <div class="col-sm-1"><strong>Sunday:</strong></div>
                    <div class="col-sm-1">{% if itinerary.attending_sun %}<i class="fa fa-check-circle"></i>{% else %}<i class="fa fa-times"></i>{% endif %}</div>
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title tml">Accommodations Info</h3>
            </div>
            <div class="panel-body">
                {% if itinerary.global_journey %}
                <div class="row">
                    <div class="col-sm-2 col-md-2"><strong>Global Journey Package:</strong></div>
                    <div class="col-sm-10 col-md-6">{{ itinerary.global_journey_type }}</div>
                </div>
                {% endif %}
                {% if itinerary.hotel_package %}
                <div class="row">
                    <div class="col-sm-2 col-md-2"><strong>Hotel Package:</strong></div>
                    <div class="col-sm-10 col-md-6">{{ itinerary.hotel }}</div>
                </div>
                {% endif %}
                {% if itinerary.dreamville_package %}
                    <div class="row">
                        <div class="col-md-2"><strong>Dreamville Package:</strong></div>
                        <div class="col-md-6">{{ itinerary.dreamville }}</div>
                    </div>
                {% endif %}
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title tml">Comments</h3>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-xs-12">{{ itinerary.comments }}</div>
                </div>
            </div>
        </div>
    </div>






{% endblock %}