{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}
    <div id="wrapper">

    <div id="map-canvas"></div>
    <div id="countdown" data-date="2015-07-24 12:00:00"></div>
    </div>
{% endblock %}


{% block scripts %}
<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBVSeOgiFX1LF2TkLwzFuxjkEWjl1eFc7M"></script>
<script type="text/javascript" src="{% static 'js/oms.min.js' %}"></script>
<script>
var map;
var autocomplete;
var places;
var markers = [];
var flightPaths = [];
var flightPathsOn = true;
var json_data;
var users;
var image = '{% static 'img/map_icon_sm.png' %}';
var logo = '{% static 'img/icon_sm.png' %}';
var styles = [
    {
        "stylers":[
            {
                "visibility":"simplified"
            }
        ]
    },
    {
        "stylers":[
            {
                "color":"#131314"
            }
        ]
    },
    {
        "featureType":"water",
        "stylers":[
            {
                "color":"#131313"},
            {
                "lightness":7
            }
        ]
    },
    {
        "elementType":"labels.text.fill",
        "stylers":[
            {
                "visibility":"on"
            },
            {
                "lightness":25
            }
        ]
    },
    {
        "featureType": "administrative",
        "elementType": "labels.text.fill",
        "stylers": [
            {
                "color": "#831042"
            }
        ]
    },
    {
        "featureType": "administrative.locality",
        "elementType": "labels.text.fill",
        "stylers": [
            {
                "color": "#D86D9C"
            }
        ]
    }

];

function init() {
    var tomorrowlandMarker;
    var mapOptions = {
        zoom: 3,
        minZoom: 3,
        streetViewControl: false,
        mapTypeControl: false,
        panControl: false,
        center: new google.maps.LatLng(51.091448, 4.385369),
        styles: styles

    };
    map = new google.maps.Map(document.getElementById('map-canvas'), mapOptions);

    tomorrowlandMarker = new google.maps.Marker({
                position: new google.maps.LatLng(51.091448, 4.385369),
                map: map,
                icon: logo
    });
    getUsers();


}

function populateMap(users) {
        var departureLatLng;
        var arrivalLatLng;
        var flightCoords;
        var infoWindow;
        var windowContent;
        var marker;
        var user;
        var daysAttending;
        var oms = new OverlappingMarkerSpiderfier(map,{
            markersWontMove: true,
            markersWontHide: true,
            keepSpiderfied: true
        });

        infoWindow = new google.maps.InfoWindow({
            content: "Holding..."
        });

        for (var i = 0; i < users.length; i++) {
            user = users[i].fields.user[0];
            departureLatLng = new google.maps.LatLng(users[i].fields.departure_lat, users[i].fields.departure_lng);
            arrivalLatLng = new google.maps.LatLng(users[i].fields.arrival_lat, users[i].fields.arrival_lng);

            // Place Marker on Departure point
            markers[i] = new google.maps.Marker({
                position: departureLatLng,
                map: map,
                title: user,
                icon: image
            });
            console.log(markers[i]);
            marker = markers[i];

            // Create flight path polyline
            flightCoords = [departureLatLng, arrivalLatLng];
            flightPaths[i] = new google.maps.Polyline({
                path: flightCoords,
                geodesic: true,
                strokeColor: '#BB4478',
                strokeOpacity: 1.0,
                strokeWeight: 2
            });
            flightPaths[i].setMap(map);

            // Create Info Window
            windowContent = '<div id="infowindowContent">' +
                    '<h4>' + user + '</h4>' +
                    '<div>Departing City: ' + users[i].fields.departure_city + '</div>' +
                    '<div>Arrival City: ' + users[i].fields.arrival_city + '</div>' +
                    '<a href="/itinerary/' + user + '" class="btn btn-block btn-tomorrowland">View Journey</a></div>';

            oms.addMarker(marker);


            google.maps.event.addListener(marker, 'click', (function (marker, windowContent) {
                return function () {
                    infoWindow.setContent(windowContent);
                    infoWindow.open(map, marker);
                };

            })(marker, windowContent));


        }
    }

function onPlaceChanged() {
    var place = autocomplete.getPlace();
    if (place.geometry) {
        map.panTo(place.geometry.location);
        map.setZoom(15);
    } else {
        document.getElementById('search').placeholder = 'Enter a City';
    }
}

function getUsers() {
    var url = {% url 'get_users' %};
    $.getJSON(url)
            .done(function(data) {
                populateMap(data);

            })
            .fail(function() {
                console.log("Error Retrieving Users...");
            });
}

function hideFlightPaths() {
    for (var i = 0; i < flightPaths.length; i++) {
        flightPaths[i].setMap(null);
    }
}

function displayFlightPaths() {
    for (var i = 0; i < flightPaths.length; i++ ) {
        flightPaths[i].setMap(map);
    }
}

$(document).ready(function() {
    init();
    $('#toggle-paths').on('click', function() {

        if (flightPathsOn) {
            $(this).html("Show Flight Paths");
            hideFlightPaths();
            flightPathsOn = false;
        } else {
            $(this).html("Hide FlightPaths");
            displayFlightPaths();
            flightPathsOn = true;
        }


    });
});
</script>
{% endblock %}