/* Override B3 .panel adding a subtly transparent background */
.panel {
    background-color: rgba(255, 255, 255, 0.9);
}

.margin-base-vertical {
    margin: 40px 0;
}

body {
    background: transparent;
}

html {
    background: url(../../static/img/about_background.png) no-repeat center center fixed;
    -webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

.about {
    margin-top: 80px;
    text-align: center;
    font-size: 18px;
}

blockquote {
    border-left: 5px solid #BB4478;
    margin-top: 70px;
    margin-bottom: 50px;
}
