@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,400,600);


body {

  font-family: "Source Sans Pro",sans-serif,"Helvetica Neue",Helvetica,Arial;
  margin-top: 60px;
}

#map-canvas {
    width: 100%;
    height: auto;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    top: 50px;

}


.btn-tomorrowland:hover {
    color: white;
    background: #A7245D;
    border-color: #831042;
}

.btn-tomorrowland:focus {
    color: white;
    outline: none;
    outline-offset: 0;
}

.btn-tomorrowland {
    background: #BB4478;
    color: white;
    border-color: #831042;
}

.navbar-btn {
    margin-left: 5px;
    margin-right: 5px;
}



 h1, .tml {
    color: #BB4478;

}



