

body {
    background-color: white;
}



legend {
    color: #BB4478;
}

.content {
    margin-top: 0px;
    margin-bottom: 50px;
    margin-left: 50px;
    margin-right: 50px;
}

#itinerary_form {
    background-color: white;
    border-radius: 10px;
    padding: 10px;
}


