{% extends 'base.html' %}
{% load staticfiles %}

{% block links %}
    <link rel="stylesheet" href="{% static "css/about.css" %}">
{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-10 col-md-offset-1 panel panel-default">
        <div class="about">
            <h1 class="tml">About</h1>
            <p>This small app was built with love, for fellow Redditors and People of Tomorrow.</p>
            <p>In a just over one month, those of us who were fortunate enough to get tickets, will be making the
                journey to Tomorrowland, to experience one of the most diverse music festivals in the world. People
                travel from across the globe to come together as one for a single weekend of madness.
            </p>
            <p>In keeping with Tomorrowland's theme of global unity, I created this app to hopefully help bring us
                together even more. If you are making the 'Journey To Tomorrowland', add yourself to the global map.
                If you'd like, I also encourage you to add additional details about your trip to share with others.
                The more information that is added, the easier it is to connect with those that share similar
                travel plans.

            </p>
            <blockquote>
                <p>
                    "Let's work as one, towards dignity for all, and let youth lead the way..."
                </p>
                <footer>United Nations Secretary-General, Ban Ki-Moon</footer>
            </blockquote>
            <h1>How it Works</h1>
            <p>For privacy and security, you can login using your Reddit account. Using this method means that I will
                never have any access whatsoever to your password or any other account information besides your username.
                The only information I collect for this app is your username, and any other information you provide in
                your travel itinerary.
            </p>
            <p>After logging in, you can add your itinerary to the global map. If you choose to add your itinerary
                the only information that is required is a valid departure and arrival city. Any other information is
                optional, but I encourage you to add as much as possible!
            </p>
            <p>After adding your itinerary to the map, others will be able to view it. Your itinerary is tied to your
                username, so others will be able to see it and message you through Reddit.
            </p>
            <h1>Feedback</h1>
            <p>This app was made as a hobby/side project. There are always things that can be improved, so please
                <a href="{% url 'feedback' %}">send me feedback </a> if you find a bug with the site, or you would like any new features to be implemented. I am
                only one person, so I cannot guarantee I will get to it immediately, but I will certainly try!
            </p>

        </div>
    </div>
</div>
{% endblock %}