{% extends 'base.html' %}
{% load staticfiles %}
{% load crispy_forms_tags %}

{% block links %}
   <link rel="stylesheet" href="{% static "css/formstyles.css" %}">
{% endblock %}

{% block content %}

<form id="feedback_form" method="post" action="{% url 'feedback' %}">

    {% crispy form %}

</form>
{% endblock %}

{% block scripts %}
{% if user.is_authenticated %}
    <script>
        $(document).ready(function() {

            $('#id_username').val("{{ request.user.username }}");


        });
    </script>
{% endif %}
{% endblock %}