{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Journey To Tomorrowland</title>

        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="{% static 'css/base.css' %}">
        <link rel="stylesheet" href="{% static 'css/TimeCircles.css' %}">
        {% block links %}{% endblock %}
    </head>
    <body>

        {% include 'navbar.html' %}

        <div class="container-fluid">
            {% if messages %}
                {% for message in messages %}
                    <div class="alert {% if "success" in message.tags %}alert-success{% elif "error" in message.tags %}alert-danger{% endif %} alert-dismissible" role="alert">
                        <button type="button" class="close" data-dismiss="alert">
                            <span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
                        </button>
                        <ul class="messages">
                            <li>{{ message }}</li>
                        </ul>
                    </div>
                {% endfor %}
            {% endif %}

            {% block content %}{% endblock content%}

        </div>

        <!-- Bootstrap and jQuery core JavaScript -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
        <script src="{% static 'js/TimeCircles.js' %}"></script>
        <script src="{% static 'js/countdown.js' %}"></script>
        {% block scripts %} {% endblock scripts %}
        <script>
            (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
                (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
                    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
            })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

            ga('create', 'UA-59874606-2', 'auto');
            ga('send', 'pageview');

        </script>
    </body>
</html>