{% load base_extras %}

<!-- Static navbar -->
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">JourneyToTomorrowland</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li class="{% active request 'map_detail'  %}">
                    <a href="{% url 'map_detail' %}">Map</a>
                </li>
                {% if user.is_authenticated %}
                    {% if user.itinerary %}
                        {% url 'edit_itinerary' user.username as edit_itinerary %}

                        <li {% if request.get_full_path == edit_itinerary %}class="active"{% endif %}><a href="{% url 'edit_itinerary' user.username %}">Edit Itinerary</a></li>
                    {% else %}
                        <li class="{% active request 'new_itinerary'  %}"><a href="{% url 'new_itinerary' %}">Add Itinerary</a></li>
                    {% endif %}
                {% endif %}
                <li class="{% active request 'about'  %}">
                    <a href="{% url 'about' %}">About</a>
                </li>
                {% url 'map_detail' as map_detail %}
                {% if request.get_full_path == map_detail %}
                <li>
                    <button id="toggle" class="btn btn-sm navbar-btn btn-tomorrowland">Show Countdown</button>
                </li>
                <li>
                     <button id="toggle-paths" class="btn btn-sm navbar-btn btn-tomorrowland">Hide Flight Paths</button>
                </li>
                {% endif %}
            </ul>
            <ul class="nav navbar-nav navbar-right">
                {% if user.is_authenticated %}
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">{{ user.username }} <span class="caret"></span></a>
                        <ul class="dropdown-menu" role="menu">
                            <li><a href="{% url 'logout' %}">Logout <i class="fa fa-sign-out"></i></a></li>
                        </ul>
                    </li>
                {% else %}
                    <li><a href="{% url 'social:begin' 'reddit' %}?next={{ request.path }}"><i class="fa fa-reddit"></i>Login with Reddit</a></li>
                {% endif %}
            </ul>
        </div><!--/.nav-collapse -->
    </div>
</nav>